.float {
    position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: darkslategray;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float:hover {
    background-color: rgb(142, 223, 155);
}