.container {
    width: 450px;
    /* flex-direction: row;
    display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.profession {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 660px) {
    .container {
      width: 310px;
    }
  }
  